header
    .content.content_flex
        .address
            span Россия, г. Москва,
            span ул. Огородный проезд, д. 20
        a(href="/").logo
            img(src="./static/img/general/logo.png")
            span Выбери оформление своей свадьбы!
        .phone
            a(href="tel:+79850881523") +7 (985) 088-15-23
            a(href="#popup-form").call.js-popup-form Обратный звонок


