header
  padding 25px 0

.content_flex
  display flex
  justify-content space-between

.address
  font-size 1.125rem
  span
    display block
    &:last-child
      margin-top 10px

.logo
  text-align center
  img
    width 300px
  span
    color #808080
    font-size 0.9rem
    display block
    margin-top 10px

.phone
  text-align right
  a
    display block
    font-size 1.5rem

  a:last-child
    font-size 1rem

.call
  text-decoration underline
  color mainColor
  font-size 1rem
  cursor pointer
  margin-top 10px

