
.container
  width 100%
  position relative


.content
  width 100%
  max-width 1290px
  margin auto
.content_padding
  padding 50px 0
h3
  text-transform uppercase
  font-size 1.5rem
  font-weight bold
  text-align center

@media only screen and (min-width : 1500px)
  .wrapper
    max-width 1200px
    margin auto

@media screen and (max-width: 1290px)
  .content
    width 97%
