@media screen and (max-width : 992px)
  .address
    font-size 1rem
  .phone a
    font-size 1.2rem
  .advantage-item
    flex-basis 50%


@media screen and (max-width : 768px)
  .address
    display none
  .gallery-item
    width 100%
  .form form
    flex-direction column
  .form .input
    width 100%
    margin-bottom 15px
  .form .btn
    width 100%
  .about-img, .about-info
    width 100%
  .about_reverse
    flex-direction column-reverse
  .block-tab
    padding 20px
  .error:after
    bottom -3px
  .error input
    margin-bottom 15px

@media screen and (max-width : 480px)
  .logo img
    width 155px
  .phone a, .phone a:last-child
    font-size 0.9rem
  .call, .logo span
    font-size 0.8rem
  header
    padding 15px 0
  .gallery-item__info h2
    font-size 1rem
    text-align left
  .gallery-item__info
    left 2%
    right inherit
  .block-btn .btn:first-child
    width auto
  .form__title
    position static
    margin-bottom 20px
  .advantage-item
    flex-basis 100%
    margin-bottom 50px
  .list__num
    padding 15px 22px
  .list__line
    margin-left 32px
  .map-contact
    position static
    transform none
    margin-top 50px
  //.form-callback
  //  padding 13px
  .gallery-group
    padding 15px



